* {
    box-sizing: border-box;
}


.main-header a {
    text-decoration: none;
    padding-top: 15px;
}
/* || logo */


.logo {
    text-decoration: none;
    margin: 10px auto 0px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}

body {
    min-height: 100vh;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex:1;
    flex-direction: column;
    color: #dfdfdf;
    /* background: radial-gradient(100% 100% at 50% 0%, #003917 0%, #000000 100%); */
    /* background: #00230e; */
    background: white;
}


.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 22px;
}

.main-nav li {
    margin: 7px;
    font-size: 18px;
}

ul a {
    text-decoration: none;
    color: #787878;
    padding: 10px;
}

.active {
    color: #a9a9a9;
}

.home:hover,
.contact:hover {
    color: #a9a9a9;
}

.contact,
.home {
    transition: color .25s ease;
}

.about-paragraph {
    color: #787878;
    width: 375px;
    line-height: 1.5;
    margin: 55px auto;
    padding: 15px;
    font-size: 18px;
    /* background-color: rgb(1, 50, 0);  */
    /* background-color: rgb(0, 0, 0);  */
    border-radius: 10px;    
}

.about-paragraph p {
    width: 90%;
    margin: 10px auto;
}



@media (min-width: 750px) {

    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: 25px;
        font-size: 22px;
    }

    .about-paragraph {
        font-size: 22px;
        width: 740px;
        line-height: 1.9;  
        padding: 20px;    
    }


   

}

@media (min-width: 1025px) {

    .about-paragraph {
        padding: 25px;
        width: 1015px;  
        font-size: 24px;   
    }
}