* {
    box-sizing: border-box;
}

.main-header {
    padding-top: 11px;
}

.main-header a {
    text-decoration: none;
}
/* || logo */


.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}



.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

body {
    min-height: 100vh;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background: white;
    line-height: 1.3;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 75px;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin-bottom: 10px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    padding: 5px;
}

.active {
    color: #484848;
}

.home {
    color: #a2a2a2;
    transition: color .2s ease;
}

.home:hover {
    color: #484848;
}


/**********************

// FONT STYLES

***********************/




.treehouse {
    text-decoration: none;
    color: #676767;
    transition: color .3s ease;
}

.treehouse:hover {
    color: #3659a2;
    text-decoration:underline;
}

span {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}

/* bold names ********/

.full-name {
    background: linear-gradient(120deg,rgb(196, 53, 53) 15%, #3cc982 45%, #3474c2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.san-diego {
    font-family: 'Pacifico', cursive;
    background: linear-gradient(120deg, #d1b00c 1.57%, #129DEB 92.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 8px;
}

.csusm {
    color: #0078CC;
    font-family: 'Montserrat', sans-serif;
}

.front-end {
    color: #3659a2;
}

.ux-design {
    color: #4a4290;
}

.ux-design,
.front-end {
    font-family: 'Varela Round', sans-serif;
}

.ux-design,
.front-end,
.csusm {
    font-weight: bold;
}

.violin {
    background: linear-gradient(120deg, #e69e39 0%, #b85d2c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.christian {
    color: #358bb8;
}

.american {
    background: linear-gradient(90deg, #cf1f1f 0%,rgb(23, 74, 205) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.biographies {
    font-family: 'Petrona', serif;
    color: rgb(140, 63, 63);
    font-weight: 400;
    font-style: italic;
}

.history {
    font-family: 'Prata', serif;
    color: rgb(150, 120, 30);
}

.exercise {
    color: rgb(19, 117, 19);
}

.podcast {
    color: rgb(129, 22, 129);
}

.music {
    color: rgb(0, 79, 144);
}


/* MAIN CONTENT CONTAINER ******/

.main-content-container {
    width: 100%;
    flex: 1;
    margin: 30px auto;
}

.main-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0px auto;
}

.main-content-square {
    color: #565656;
    width: 315px;
    height: 315px;
    line-height: 1.5;
    text-align: left;
    font-size: 17px;
    background: #eaeaea74;
    border-radius: 20px;
    margin: 15px 0;
}

.content-info-wrap {
    padding: 0 20px 20px;
}

.skills-square {
    height: 370px;
}

.content-title {
    color: rgb(79, 79, 79);
    font-weight: 700;
    text-align: center;
}


/* footer ******/

.contact-title {
    color: rgb(232, 232, 232);
}

.contact-container {
    background: linear-gradient(90deg, #2b0000 0.01%, #002b09  50.44%, #001f3e 99.99%);
}

.contact-p-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    margin: 30px auto 60px;
}

.contact-container p {
    margin: 0; 
    padding: 0; 
    line-height: 1.8em;
}



.phone-number,
.email-link,
.linkedin,
.contact-container a {
    color: #cecece;
}


.contact-container a {
    text-decoration: none;
}

.contact-container a:hover {
    color: #9b9b9b;
    text-decoration:underline;
}



/* =====================
Media Query for 768px
======================== */

@media (min-width: 768px) {

    .main-content-container { 
        margin: 40px auto;
    }

    .main-content-square {
        font-size: 19px;
        width: 550px;   
        height: 355px;
        margin: 20px 0;
    }
    
    .main-content-square {
        margin-bottom: 15px;
    }

    .content-info-wrap {
        padding: 0 25px;
    }

    span {
        font-size: 25px;
    }

    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: -10px;
        font-size: 21px;
    }

    .ricardo {
        margin-right: 45px;
    }

   

    .shapes {
        height: 400px;
        width: 260px;
    }


    .contact-p-container  {
        font-size: 19px;
        margin: 40px auto 80px;
    }
    
    .contact-container p {
        line-height: 2em;
    }

}

/* =====================
Media Query for 1440px
======================== */


@media (min-width: 1440px) { 

    .main-content-container { 
        margin: 50px auto;
    }

    .main-content-wrap {
        width: 1300px;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 0px;
        padding-top: 0px;
    }

    .main-content-square {
        width: 48%;
        height: 365px;
        font-size: 20px
    }

    .content-info-wrap {
        padding: 0 30px;
    }

    .skills-square {
        margin-left: 40px;
    }

    .interests-square {
        width: 1300px;
    }

    .interest-square-wrap {
        text-align: center;
    }

    span {
        font-size: 29px;
    }

    .shapes {
        width: 350px;
        height: 560px;
    }

    .contact-p-container  {
        font-size: 21px;
        margin: 45px auto 120px;
    }


}