* {
    box-sizing: border-box;
}

body {
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #dfdfdf;
    background: linear-gradient(180deg, #00360C 0%, #005813 48.96%, #002809 100%);
    box-shadow: 0px 2px 25px 5px rgba(219, 219, 219, 0.23);
}

html {
    font-size: 21px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    font-size: 24px;
}

.main-nav li {
    margin: 7px;
}

ul a {
    text-decoration: none;
    color: #00AB25;
    padding: 10px;
}

.active {
    color: #dfdfdf;
}

.home:hover,
.contact:hover {
    color: #107426;
}

.contact,
.home {
    transition: color .25s ease;
}

.about-paragraph {
    width: 370px;
    line-height: 1.5;
    margin: 0 auto;
    position: relative;
    left: 0px;
    top: 150px;
}


@media (min-width: 750px) {

    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: 25px;
    }

    .about-paragraph {
        font-size: 28px;
        width: 740px;
        line-height: 1.9;      
    }

}

@media (min-width: 1000px) {

    .about-paragraph {
        width: 975px;     
    }
}