* {
    box-sizing: border-box;
}

.main-header {
    padding-top: 15px;
}

.main-header a {
    text-decoration: none;
}
/* || logo */


.logo {
    text-decoration: none;
    margin: 0px auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    opacity: .85;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}



.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

body {
    min-height: 100vh;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background: white;
}


.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin-bottom: 10px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: #8e8e8e;
    padding: 5px;
}

.active {
    color: #484848;
}

.home {
    transition: color .3s ease;
}

.home:hover {
    color: #484848;
}


/**********************

// bullit points 

***********************/

.treehouse {
    text-decoration: none;
    color: #676767;
    transition: color .3s ease;
}

.treehouse:hover {
    color: #3659a2;
    text-decoration:underline;
}

span {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}

/* bold names ********/

.full-name {
    background: linear-gradient(120deg,rgb(196, 53, 53) 15%, #3cc982 45%, #3474c2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.san-diego {
    background: linear-gradient(120deg, #d1b00c 1.57%, #129DEB 92.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.csusm {
    color: #0078CC;
}

.front-end {
    color: #3659a2;
}

.ux-design {
    color: #4a4290;
}

.violin {
    background: linear-gradient(120deg, #e69e39 0%, #b85d2c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.christian {
    background: linear-gradient(120deg, #b7b7b7 0%, #358bb8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.american {
    background: linear-gradient(120deg, #cf3030 0%, rgb(223, 223, 223) 50%,rgb(59, 100, 224) 100%);
    /* background: linear-gradient(120deg, #cf2323 0%, rgb(223, 223, 223) 50%,rgb(40, 86, 223) 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}

/* bullit points container ******/

.bullit-points-container {
    color: #676767;
    width: 375px;
    line-height: 1.5;
    padding: 15px;
    margin: 25px auto;
    text-align: center;
    font-size: 18px;
}

/* .red-circle::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(239, 16, 16);
}

.blue-circle::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(16, 109, 239);
}

.green-circle::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(9, 218, 110);
}

.purple-circle::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgb(220, 7, 220);
} */


/* balanced shapes ******/

.balanced-shapes {
    margin: 0 auto;
    text-align: center;
}

.shapes {
    height: 220px;
    width: 150px;
    opacity: .6;
}


/* footer ******/


.contact-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ea1616;
    font-size: 18px;
    line-height: .1rem;
    padding: 25px 0;
}


.phone-number,
.email-link,
.linkedin {
    color: #f6f6f6;
}


.contact-container a {
    text-decoration: none;
    transition: color .2s ease;
}

.contact-container a:hover {
    color: rgb(253, 179, 179);
    text-decoration:underline;
}





/* =====================
Media Query for 750px
======================== */

@media (min-width: 750px) {

    span {
        font-size: 25px;
    }

    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: -10px;
        font-size: 21px;
    }

    .ricardo {
        margin-right: 45px;
    }

    .bullit-points-container {
        font-size: 21px;
        width: 740px; 
        padding: 25px 0;    
    }

    .shapes {
        height: 400px;
        width: 260px;
    }


    .contact-container {
        padding: 50px 0;
    }

    .contact-container p {
        font-size: 22px;
    }

}

/* =====================
Media Query for 1440px
======================== */


@media (min-width: 1440px) { 

    .main-content {
        width: 80%;
        flex-direction: row;
        margin-top: 0px;
        padding-top: 0px;
    }

    .bullit-points-container { 
        text-align: left;
    }

    span {
        font-size: 29px;
    }

    .balanced-shapes {
        margin-top: 50px;
    }

    .shapes {
        width: 350px;
        height: 560px;
    }



}