* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}


.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}


/* || logo *******/


.logo {
    text-decoration: none;
    margin: 0px auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    opacity: .85;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/andersonImages/anderson-restaurant-location.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}


.anderson-title, 
.restaurant-title {
    margin: 0;
    padding: 0;
}

.nova-slim {
    font-family: "Nova Slim", cursive;
}

.anderson-title {
    color: #F3F3F3;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: 30px;
}

.restaurant-title {
    font-family: 'Parisienne', cursive;
    color: #D9A319;
    text-align: right;
    font-size: 22px;
    margin-right: 6px;
}

p {
    color:#8d8d8d; 
}

/* || TABLE OF CONTENTS *******/

.table-of-contents-container {
    width: 100%;
    background: rgba(248, 231, 188, 0.35);
}

.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 19px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}

.gold {background: #A97A01;}
.blue {background: #38578A;}
.black {background: #202020;}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 45px;
}

.gold-divider {background:#A97A01;}
.blue-divider {background: #38578A;}




/* || PROJECT CONTAINER *******/


.project-container p {
    text-align: left;
    padding: 0 5px;
}


h2 {
    font-size: 19px;
    text-align: center;
}

.project-container h2 {
    color:  #202020;
}

.project-square {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.product, 
.response {
    background: #FFFFFF;
}


.problem {background: #FFF1CC;}

.goal-role-duration {background: #F9F9F9;}


.project-text-wrap,
.abstract-text-wrap,
.point-wrap {
    margin: 0 auto;
    line-height: 1.4rem;
    width: 330px;
}


/* || ABSTRACT CONTAINER *******/

.abstract {
    background: #F9F9F9;
}

.abstract h2 {
    color: #38578A;
}

.abstract-text-wrap {
    margin: 25px 0; 
}

/* || PAIN POINTS *******/

.pain-points-container {
    background: rgba(56, 87, 138, 0.9); 
}

.pain-points-container h2 {
    color: #F8E7BC;
}

.pain-points-header {
    margin: 30px 0px; 
}

.point-wrap {
    margin-bottom: 30px;
}
.pain-points-wrap p {
    color: #E7E7E7;
}

/*=============================
    Media Query for 768px (iPad)
=========================== */

@media (min-width: 768px) {
    .main-header {
       height: 550px;
    }

    .anderson-title {
        font-size: 50px;
    }

    .restaurant-title {
        font-size: 38px;
    }

    /* || TABLE OF CONTENTS *******/

    .table-wrap {
        margin: 65px auto 105px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        width: 550px;
    }

    .table-flex {
        flex-direction: column;
        margin: 0 50px;
    }

    .table-flex h2 {
        font-size: 25px;
    }

    .block {
        width: 157.5px;
        height: 52.5px;   
    }

    .project-divider {
        height: 52.5px;   
    }

     /* || PROJECT CONTAINER *******/

    .project-container {
        display: flex;
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 340px;
    }


    h2 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }


    .project-text-wrap {
        line-height: 1.4rem;
        width: 335px;
    }

    /* || ABSTRACT CONTAINER *******/

    .abstract-text-wrap {
        margin: 35px 0; 
        width: 445px;
    }


}


/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    .main-header {
       height: 670px;
    }

    .anderson-title {
        font-size: 68px;
    }

    .restaurant-title {
        font-size: 52px;
    }

     /* || TABLE OF CONTENTS *******/

     .table-wrap {
        margin: 85px auto 125px;
        width: 900px;
    }

    .table-flex {
        margin: 0 95px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 61.25px;   
    }

    .project-divider {
        height: 61.5px;   
    }


    /* || PROJECT CONTAINER *******/

    .project-square {
        height: 350px;
    }

    h2 {
        font-size: 21px;
    }

    p {
        font-size: 18px;
    }

    .project-text-wrap {
        line-height: 1.5rem;
        width: 400px;
    }

    /* || ABSTRACT CONTAINER *******/

    .abstract-text-wrap {
        margin: 55px 0; 
        width: 800px;
    }



}