* {
    box-sizing: border-box;
}




body {
    display: flex;
    flex-direction: column;
}


.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}


/* || logo *******/


.logo {
    text-decoration: none;
    margin: 0px auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    opacity: .85;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/andersonImages/anderson-restaurant-location.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}


.anderson-title, 
.restaurant-title {
    margin: 0;
    padding: 0;
}


.anderson-title {
    font-family: "Nova Slim", cursive;
    color: #F3F3F3;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: 34px;
}

.restaurant-title {
    font-family: 'Parisienne', cursive;
    color: #D9A319;
    text-align: right;
    font-size: 17px;
}


/* || TABLE OF CONTENTS *******/

main {
    border: 1px solid red;
}

.table-of-contents {
    margin-top: 0px;
    padding-top: 0px;
   width: 100%;
   background: rgba(248, 231, 188, 0.35);
}



/*=============================
    Media Query for 750px
=========================== */

@media (min-width: 750px) {
    .main-header {
       height: 550px;
    }
}


/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    .main-header {
       height: 750px;
    }
}