* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFE2E2;
}

.main-header a {
    padding-top: 15px;
    text-decoration: none;
}

/* || logo */

.logo {
    text-decoration: none;
    margin: 10px auto 0px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}



body { 
    min-height: 100vh;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex:1;
    flex-direction: column;
} 


.wrap {
    width: 375px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex:1;
    flex-direction: column;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 20px;
}

.main-nav li {
    margin: 7px;
    font-size: 18px;
}

ul a {
    text-decoration: none;
    color: #787878;
    padding: 10px;
}

.active {
    color: #a9a9a9;
}

.about:hover,
.home:hover {
    color: #a9a9a9;
}

.about,
.home {
    transition: color .25s ease;
}

.red-circle-container {
    margin: -10px auto;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    line-height: .3;
}


.name {
    font-size: 30px;
    width: 350px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(120deg, #f71313 15%, #ff5454 25%, #fab088 35%, #0af684 45.93%, #05d8ca 63.26%, #3a98f7 75.3%, #0d6cf2 88.75%, #014dcf 100%);
    /* background: linear-gradient(120deg, #f80505 15%, #fb3e3e 25%, #fca06e 35%, #08ee64 45.93%, #0fe891 60.26%, #097df2 70.3%, #0553d8 80.75%, #0135b8 90%, #002685 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}


.email-link,
.linkedin {
    font-size: 20px;
    color: #787878;
}

.number {
    font-size: 20px;
    color: #787878;
}




.linkedin {
    margin-top: 7px;
}

.email-link,
.linkedin {
   padding: 0 8px;
}


.linkedin:hover,
.email-link:hover {
    text-decoration: underline;
}



@media (min-width: 750px) {


.wrap { 
    width: 750px;
}

.main-nav {
    font-size: 22px;
    width: 450px;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav li {
    margin-left: 25px;
    font-size: 22px;
}

.red-circle-container {
    width: 600px;
    height: 600px;
}
    
.name {
    font-size: 62px;
    width: 800px;
}

.number,
.email-link,
.linkedin {
    font-size: 28px;
}


}