* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFE2E2;
}

body { 
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #dfdfdf;
    background: radial-gradient(99.1% 99.1% at 49.34% 0.9%, #770000 0%, #003260 100%);
} 

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    font-size: 24px;
}

.main-nav li {
    margin: 7px;
}

ul a {
    text-decoration: none;
    color: #fa4848;
    padding: 10px;
}

.active {
    color: #dfdfdf;
}

.about:hover,
.home:hover {
    color: #bb2525;
}

.about,
.home {
    transition: color .25s ease;
}

.red-circle-container {
    position: relative;
    width: 375px;
    height: 375px;
    left: 0px;
    top: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 36, 255, 0) 80.65%, #9441FF 95.83%, rgba(143, 56, 255, 0.682927) 100%);
}

p {
    line-height: .3;
}

.name {
    font-size: 24px;
}

.number,
.email-link {
    font-size: 20px;
}

.linkedin {
    margin-top: 7px;
    font-size: 17px;
}

.email-link,
.linkedin {
   padding: 0 8px;
}


.linkedin:hover,
.email-link:hover {
    text-decoration: underline;
}



@media (min-width: 750px) {

.main-nav {
    width: 450px;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav li {
    margin-left: 25px;
}

.red-circle-container {
    width: 600px;
    height: 600px;
}
    
  
.name {
    font-size: 32px;
}

.number,
.email-link {
    font-size: 28px;
}

.linkedin {
    font-size: 25px;
}

}