* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p {
    line-height: 1.6;
    color:#808080;
    font-size: 17px; 
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/groceryprime/groceryisle.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

/* || GROCERY PRIME TITLE *******/

.main-title-container {
    margin: 0 auto;
}

.grocery-title {
    width: 190px;
    height: 100px;
    margin: 25px auto 0px;
}


/* || TABLE OF CONTENTS *******/

.kait {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}

.red {background: #FF0C0C;}
.gray {background: #818181;}
.orange {background: #FFA35E;}

.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}

.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 21px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}


/* || PROJECT CONTAINER *******/

.project-container h2 {
    color: #565656;
}

.project-container p {
    text-align: left;
    padding: 0 5px;
}

.project-square {
    width: 100%;
    height: 330px;
}

.objective-square h2 {
    color: #FF0C0C;
}

.objective-square p {
    color: #FF4646;
}

.objective-square {
    background: #FF0C0C10;
}

.duration-square p {
    text-align: center;
}

.text-wrap {
    margin: 0 auto;
    width: 310px;
}

/* || RESEARCH PLANNING CONTAINER *******/


.research-planning-container {
    width: 100%;
    background: #840000;
}

.research-planning-square {
    margin: 50px 0;
}

.research-planning-container h2,
.analysis-info-wrap h2  {
    color: rgb(255, 255, 255);
}

.research-planning-container p,
.participant-quotes li,
.analysis-paragraph p,
ol li  {
    color: #EFEFEF;
}

.research-participants p {
    text-align: center;
}

ol li,
ul li {
    line-height: 1.6em;
}

.interview-questions-container {
    margin-bottom: 50px;
}

.interview-questions-wrap {
    padding: 0 15px;
}

.interview-questions-wrap li,
.analysis-wrap li,
.participant-quotes li {
    margin-bottom: 10px;
}


/* || ANALYSIS CONTAINER *******/

.analysis-container {
    background: #C30000;
}

.analysis-info-wrap {
    margin: 30px auto;
}

.participant-quotes li {
    font-style: italic;
}


/* || SKETCHES / WIREFRAMES CONTAINER *******/

.sketches-container {
    background: #fff;
}

.sketches-wrap {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.solution-container {
    margin: 40px auto;
}

.sketch-img {
    width: 124px;
    height: 268px;
    margin: 10px 0px;
}

.wireframe {
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.prototype-link-container {
    margin: 30px auto;
}

.prototype-link {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-size: 17px;
    border: 2px solid rgb(57, 57, 57);
    padding: 10px 15px;
    border-radius: 3px;
    transition: color .2s ease, background-color .2s ease;
}

.prototype-link:hover {
    background: black;
    color:rgb(230, 230, 230);
}

/* || TASK CONTAINER *******/

.task-container {
    background:#FFA35E19;
}

.study-quotes p {
    font-style: italic;
}


.pros-cons-container ol li {
    color: #808080;
}

.cons-wrap {
    margin-top: 40px;
}

.task-info-wrap,
.study-quotes,
.pros-cons-container {
    margin: 40px auto;
}

/* || NEXT STEPS CONTAINER *******/

.summary-info-wrap {
    margin: 30px auto 100px;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%,  #FFA35E 0%, #FF0C0C 100%);
}
