* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

/* || GENERAL FONT STYLES *******/

p,
li {
    line-height: 1.6;
    color:#6d6d6d;
    font-size: 17px; 
}

h1, 
h2 {
    text-align: center;
    color: #565656;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}


/* || HERO *******/

.main-header {
    margin-top: 60px;
    height: 330px;
    background: url("../img/groceryprime/grocery-prime.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}


.main-title-container {
    background: linear-gradient(119.45deg, #640101 1.93%, #3a0202 96.69%);
    opacity: .95;
}

/* || GROCERY PRIME TITLE *******/

.main-title-container {
    margin: 0 auto;
}

.grocery-logo {
    line-height: 1.35;
}

.grocery-txt {
    font-size: 32px;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Kanit', sans-serif;
    color: #FF0C0C;
}

.grocery-txt {
    letter-spacing: .035em;
}

.prime-txt {
    margin-top: -10px;
    font-style: italic;
    letter-spacing: .04em;
}


/* || TABLE OF CONTENTS *******/

.kait {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}


.orange-red{background: #AC5301;}
.red {background: #FF0C0C;}
.gray {background: #818181;}
.orange {background: #FFA35E;}



.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}


.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 21px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}


/* || PROJECT CONTAINER *******/

.project-container h2 {
    color: #565656;
}

.project-container p {
    text-align: left;
    padding: 0 5px;
}

.project-square {
    width: 100%;
    height: 330px;
}

.objective-square h1 {
    color: #ffeab5;
}

.objective-square p {
    color: #fcf7f0;
}

.objective-square {
   background: rgba(172, 83, 1, 0.85);
}

.duration-square p {
    text-align: center;
}

.text-wrap {
    margin: 0 auto;
    width: 310px;
}

/* || RESEARCH PLANNING CONTAINER *******/


.analysis-container {
    width: 100%;
    margin: 30px auto; 
}

.research-planning-square {
    margin: 50px auto;
}

.research-participants p {
    text-align: center;
}


.interview-questions-container {
    margin-bottom: 50px;
}

.interview-questions-wrap {
    padding: 0 15px;
}

.interview-questions-wrap li,
.analysis-wrap li,
.participant-quotes li {
    margin-bottom: 10px;
}


/* || SUMMARY OF RESEARCH CONTAINER *******/

.summary-of-analysis {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(141deg, #ff3b3b 1.93%, #ce0909 46.69%);
}

.research-summary-title {
    color: white;
}


.summary-of-analysis-wrap  {
    margin: 40px auto 55px;
    width: 310px;
}

.summary-of-analysis-wrap p {
    color: rgb(253, 242, 242);
}

#analysis-quotes li {
    text-align: center;
}

.participant-quotes li {
    font-style: italic;
}


/* || SKETCHES / WIREFRAMES CONTAINER *******/

.sketches-container {
    background: #f2f2f2;
}

.sketches-wrap {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.solution-container {
    margin: 40px auto;
    border: 2px solid rgb(114, 114, 114);
    padding: 10px 25px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.sketch-img {
    width: 124px;
    height: 268px;
    margin: 10px 0px;
}

.wireframe {
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.prototype-link-container {
    margin: 35px auto;
}

.prototype-link {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-size: 17px;
    border: 2px solid rgb(57, 57, 57);
    padding: 10px 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: color .2s ease, background-color .2s ease;
}

.prototype-link:hover {
    background: rgb(57, 57, 57);
    color:rgb(230, 230, 230);
}

/* || TASK CONTAINER *******/

.task-container {
    background: linear-gradient(31deg, #fcede0 1.93%, #f7ddc8 46.69%, #f3e9ba 95%);
    
}


.study-quotes p {
    font-style: italic;
    text-align: center;
}


.cons-wrap {
    margin-top: 40px;
}

.task-info-wrap,
.study-quotes,
.pros-cons-container {
    margin: 30px auto;
}

/* || NEXT STEPS CONTAINER *******/

.summary-info-wrap {
    margin: 30px auto 100px;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%,  #fddcdc 0%, #FF0C0C 100%);
}


.prototype-title {
    margin-top: 30px;
}


/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) { 


    /* || GENERAL FONT STYLES *******/

    p,
    .prototype-link {
        font-size: 19px;
    }

    .interview-questions-wrap li,
    .participant-quotes li,
    .pros-cons-container li {
        font-size: 19px;
    }
    
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    .text-wrap {
        width: 365px;
    }


    /* || HERO *******/

    .main-header {
    height: 550px;
    }


     /* || GROCERY PRIME TITLE *******/

     .grocery-txt {
        font-size: 50px;
    }

   


    /* || TABLE OF CONTENTS *******/


    .table-wrap {
        margin: 65px auto 105px;
        display: flex;
        flex-direction: row;
        align-items:baseline;
        justify-content: space-evenly;
        width: 710px;
    }
    
    .table-flex {
        flex-direction: column;
        margin: 0 30px;
    }

    .table-flex h2 {
        font-size: 25px;
    }

    .block {
        width: 125.5px;
        height: 52.5px;   
    }

    /* || PROJECT DIVIDER *******/

    .project-divider {
        height: 52.5px;   
    }

     /* || PROJECT CONTAINER *******/

    .project-container-wrap {
        display: flex;
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 350px;
    }

    .project-container p {
        padding: 0 15px;
    }

    .duration {
        width: 100%;
    }

    /* || RESEARCH PLANNING CONTAINER *******/


    .interview-questions-wrap,
    .research-planning-square {
        width: 650px;
    }
    
    .interview-questions-container {
        margin-bottom: 60px;
    }

    /* || ANALYSIS CONTAINER *******/

    .summary-of-analysis-wrap{
        margin: 50px auto 70px;
        width: 500px;
    }

    #analysis-quotes,
    .interview-questions-container {
        width: 650px;
        margin: 20px auto 60px;
    }

    .solution-container,
    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        width: 550px;
    }



     /* || SKETCHES / WIREFRAMES CONTAINER *******/

     .sketch-img {
        width: 186px;
        height: 402px;
      }

      .prototype-link-container {
        margin: 55px auto;
    }

      /* || TASK CONTAINER *******/

    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        margin-top: 40px;
    }

      .pros-cons-container { 
          display: flex;
          flex-direction: row;
          align-items:baseline;
          justify-content: space-between;
          width: 750px;
          padding: 0px 20px;
          margin-bottom: 50px;
      }

      .pros-wrap,
      .cons-wrap {
          width: 40%;
      }

      .summary-info-wrap {
          margin-bottom: 150px;
      }
    
      .prototype-title {
        margin-top: 40px;
    }
     
 
}



/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    p,
    .prototype-link,
    li {
        font-size: 20px;
     }


    .interview-questions-wrap li,
    .participant-quotes li,
    .pros-cons-container li {
        font-size: 20px;
    }

    h1 {
        font-size: 36px;
    }

     
    h2 {
         font-size: 24px;
     }



    /* || HERO *******/

    .main-header {
        height: 770px;
    }

    .main-title-container {
        padding: 7px 25px;
        float: right;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        margin-top: 300px;
    }


    /* || GROCERY PRIME TITLE *******/

    .grocery-txt {
        font-size: 78px;
    }


    /* || TABLE OF CONTENTS *******/

    .table-wrap {
        margin: 85px auto 125px;
        width: 1150px;
        height: 200px;
    }

    .table-flex {
        margin: 0 65px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 66.25px;   
    }


    /* || PROJECT DIVIDER *******/
    .project-divider {
        height: 71.5px;   
    }

    /* || PROJECT CONTAINER *******/

      .project-container-wrap {
        display: flex;
        flex-flow: row;
    }

    .project-square {
        width: 33.3333%; 
        height: 500px;
    }

    .project-square p {
        width: 385px;
    }

    /* || RESEARCH PLANNING CONTAINER *******/

    .research-planning-title {
        margin-top: 50px;
    }


    .research-planning-wrap {
        margin: 55px auto;
        width: 1400px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
    }

    .research-planning-square {
        height: 200px;
    }

  
    .research-participants {
        width: 25%;
    }

    .interview-questions-wrap,
    #analysis-wrap {
        width: 675px;
    }
 

    .interview-questions-wrap li {
        font-size: 19px;
    }

    #questions-responses-wrap {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 1440px;
        margin: 50px auto;
    }

   

      /* || ANALYSIS CONTAINER *******/

    #analysis-quotes,
    .interview-questions-container {
        width: 670px;
        padding: 0 25px;
    }

    .solution-container,
    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap,
    .summary-of-analysis-wrap {
        width: 675px;
    }

    .summary-of-analysis-wrap {
        margin: 70px auto 90px;
    }


    /* || SKETCHES / WIREFRAMES CONTAINER *******/

    .sketches-wrap {
        flex-direction: row;
        margin: 60px auto;
        width: 1440px;
    }

    .sketch-img {
        width: 217px;
        height: 469px;
    }


    .prototype-link-container {
        margin: 70px auto;
    }



    /* || TASK CONTAINER *******/

 

    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        margin-top: 50px;
    }

    .pros-cons-container { 
        width: 1400px;
        margin-bottom: 60px;
    }

    .pros-wrap,
    .cons-wrap {
        width: 40%;
     }

     .summary-info-wrap {
        margin-bottom: 200px;
    }
  
    .prototype-title {
        margin-top: 50px;
    }

 
}