* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p {
    line-height: 1.6;
    color:#6d6d6d;
    font-size: 17px; 
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #565656;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}




/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/groceryprime/groceryisle.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

/* || GROCERY PRIME TITLE *******/

.main-title-container {
    margin: 0 auto;
}

.grocery-title {
    width: 190px;
    height: 100px;
    margin: 25px auto 0px;
}


/* || TABLE OF CONTENTS *******/

.kait {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}

.red {background: #FF0C0C;}
.gray {background: #818181;}
.orange {background: #FFA35E;}

.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}


.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 21px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}


/* || PROJECT CONTAINER *******/

.project-container h2 {
    color: #565656;
}

.project-container p {
    text-align: left;
    padding: 0 5px;
}

.project-square {
    width: 100%;
    height: 330px;
}

.objective-square h2 {
    color: #f2f2f2;
}

.objective-square p {
    color: #c9c9c9;
}

.objective-square {
    background: #303030;
}

.duration-square p {
    text-align: center;
}

.text-wrap {
    margin: 0 auto;
    width: 310px;
}

/* || RESEARCH PLANNING CONTAINER *******/

.research-planning-title {
    margin-top: 30px;
    color: rgb(255, 240, 240);
}

.research-planning-container,
.analysis-container {
    width: 100%;
    background: #4a0101;
}

.research-planning-square {
    margin: 50px 0;
}

.research-planning-container h2,
.analysis-info-wrap h2,
#analysis-quotes h2  {
    color: #ea4a4a;
    font-weight: bold;
}

.research-planning-container p,
.participant-quotes li,
.analysis-paragraph p,
ol li  {
    color: #EFEFEF;
}

.research-participants p {
    text-align: center;
}

ol li,
ul li {
    line-height: 1.6em;
}

.interview-questions-wrap li {
    font-size: 17px;
}

.interview-questions-container {
    margin-bottom: 50px;
}

.interview-questions-wrap {
    padding: 0 15px;
}

.interview-questions-wrap li,
.analysis-wrap li,
.participant-quotes li {
    margin-bottom: 10px;
}


/* || ANALYSIS CONTAINER *******/


.summary-of-analysis {
    background: rgb(254, 237, 237);
    margin: 0 auto;
    width: 100%;
}

.summary-of-analysis-wrap  {
    margin: 40px auto 55px;
    width: 310px;
}

.summary-of-analysis-wrap p {
    color: #565656;
}

.research-summary-title {
    color:#FF0C0C;
}


#analysis-quotes li {
    text-align: center;
}



.participant-quotes li {
    font-style: italic;
    font-size: 17px;
}


/* || SKETCHES / WIREFRAMES CONTAINER *******/

.sketches-container {
    background: #f2f2f2;
}

.sketches-wrap {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.solution-container {
    margin: 40px auto;
    border: 2px solid rgb(114, 114, 114);
    padding: 10px 25px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.sketch-img {
    width: 124px;
    height: 268px;
    margin: 10px 0px;
}

.wireframe {
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.prototype-link-container {
    margin: 35px auto;
}

.prototype-link {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-size: 17px;
    border: 2px solid rgb(57, 57, 57);
    padding: 10px 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: color .2s ease, background-color .2s ease;
}

.prototype-link:hover {
    background: rgb(57, 57, 57);
    color:rgb(230, 230, 230);
}

/* || TASK CONTAINER *******/

.task-container {
    background:#914303;
}

.task-container h2,
.task-container h1 {
    color:#FFA35E;
}

.study-quotes p {
    font-style: italic;
    text-align: center;
}

.task-container p,
.pros-cons-container ol li {
    color: #efefef;
}

.cons-wrap {
    margin-top: 40px;
}

.task-info-wrap,
.study-quotes,
.pros-cons-container {
    margin: 30px auto;
}


/* || NEXT STEPS CONTAINER *******/

.summary-info-wrap {
    margin: 30px auto 100px;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%,  #FFA35E 0%, #FF0C0C 100%);
}



/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) { 


    /* || GENERAL FONT STYLES *******/

    p,
    .prototype-link {
        font-size: 19px;
    }

    .interview-questions-wrap li,
    .participant-quotes li,
    .pros-cons-container li {
        font-size: 19px;
    }
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    .text-wrap {
        width: 355px;
    }


    /* || HERO *******/

    .main-header {
    height: 550px;
    }


     /* || GROCERY PRIME TITLE *******/

    .grocery-title {
        width: 270px;
        height: 140px;
    }


    /* || TABLE OF CONTENTS *******/


    .table-wrap {
        margin: 65px auto 105px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        width: 550px;
    }
    
    .table-flex {
        flex-direction: column;
        margin: 0 50px;
    }

    .table-flex h2 {
        font-size: 25px;
    }

    .block {
        width: 157.5px;
        height: 52.5px;   
    }

    /* || PROJECT DIVIDER *******/

    .project-divider {
        height: 52.5px;   
    }

     /* || PROJECT CONTAINER *******/

    .project-container-wrap {
        display: flex;
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 350px;
    }

    .project-container p {
        padding: 0 15px;
    }

    .duration {
        width: 100%;
    }

    /* || RESEARCH PLANNING CONTAINER *******/

    .research-planning-title {
        margin-top: 40px;
    }

    .research-planning-wrap {
        margin: 45px auto 0;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        width: 768px;
    }

    .research-planning-square {
        height: 400px;
        margin: 0 20px;
    }

    .goal {
        width: 25%;
    }

    .method {
        width: 33%;
    }

    .research-participants {
        width: 25%;
    }

    .interview-questions-wrap {
        width: 650px;
    }
    
    .interview-questions-container {
        margin-bottom: 60px;
    }

  

    /* || ANALYSIS CONTAINER *******/

    .summary-of-analysis-wrap{
        margin: 50px auto 70px;
        width: 500px;
    }

    #analysis-quotes {
        width: 650px;
        margin: 10px auto 40px;
    }


    .solution-container,
    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        width: 550px;
    }



     /* || SKETCHES / WIREFRAMES CONTAINER *******/

     .sketch-img {
        width: 186px;
        height: 402px;
      }

      .prototype-link-container {
        margin: 55px auto;
    }

      /* || TASK CONTAINER *******/

    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        margin-top: 40px;
    }

      .pros-cons-container { 
          display: flex;
          flex-direction: row;
          align-items:baseline;
          justify-content: space-between;
          width: 750px;
          padding: 0px 20px;
          margin-bottom: 50px;
      }

      .pros-wrap,
      .cons-wrap {
          width: 40%;
      }

      .summary-info-wrap {
          margin-bottom: 150px;
      }
    

     
 
}



/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    p,
    .prototype-link {
        font-size: 20px;
     }


    .interview-questions-wrap li,
    .participant-quotes li,
    .pros-cons-container li {
        font-size: 20px;
    }

    h1 {
        font-size: 32px;
    }

     
    h2 {
         font-size: 24px;
     }

    .text-wrap {
        width: 470px;
    }

    /* || HERO *******/

    .main-header {
        height: 670px;
    }


    /* || GROCERY PRIME TITLE *******/

    .grocery-title {
        width: 380px;
        height: 200px;
    }


    /* || TABLE OF CONTENTS *******/

    .table-wrap {
        margin: 85px auto 125px;
        width: 900px;
    }

    .table-flex {
        margin: 0 95px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 61.25px;   
    }


    /* || PROJECT DIVIDER *******/
    .project-divider {
        height: 61.5px;   
    }

    /* || PROJECT CONTAINER *******/

      .project-container-wrap {
        display: flex;
        flex-flow: row;
    }

    .project-square {
        width: 33.3333%; 
        height: 370px;
    }

    /* || RESEARCH PLANNING CONTAINER *******/

    .research-planning-title {
        margin-top: 50px;
    }

    .research-planning-wrap {
        margin: 55px auto 0;
        width: 1370px;
    }

    .research-planning-square {
        height: 350px;
    }

    .goal {
        width: 25%;
    }

    .method {
        width: 33%;
    }
  
    .research-participants {
        width: 25%;
    }

    .interview-questions-wrap,
    #analysis-wrap {
        width: 650px;
    }
 

    .interview-questions-wrap li {
        font-size: 19px;
    }

    #questions-responses-wrap {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 1440px;
        margin: 50px auto;
    }

   

      /* || ANALYSIS CONTAINER *******/

    .solution-container,
    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap,
    .summary-of-analysis-wrap {
        width: 650px;
    }

    .summary-of-analysis-wrap {
        margin: 70px auto 90px;
    }

    .participant-quotes li {
        font-size: 19px;
    }

    /* || SKETCHES / WIREFRAMES CONTAINER *******/

    .sketches-wrap {
        flex-direction: row;
        margin: 60px auto;
        width: 1370px;
    }

    .sketch-img {
        width: 217px;
        height: 469px;
    }


    .prototype-link-container {
        margin: 70px auto;
    }



    /* || TASK CONTAINER *******/

 

    .task-info-wrap,
    .study-quotes,
    .summary-info-wrap {
        margin-top: 50px;
    }

    .pros-cons-container { 
        width: 1250px;
        margin-bottom: 60px;
    }

    .pros-wrap,
    .cons-wrap {
        width: 40%;
     }

     .summary-info-wrap {
        margin-bottom: 200px;
    }
  

 
}