@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-weight: 400;
    src: local('Poetsen One'), url('https://fonts.cdnfonts.com/s/31868/PoetsenOne-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* || GENERAL FONT STYLES *******/

p,
.target-square li {
    line-height: 1.6;
    color: #6d6d6d;
    font-size: 17px; 
}

h1, 
h2 {
    text-align: center;
    color: #565656;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}



/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}

.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}


/* || HERO *******/
.main-header {
    margin-top: 60px;
    height: 330px;
    background:url("../img/sensorybox/sensorybox-cover.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(85, 142, 241, 0.596);
    background-blend-mode: screen;
    width: 100%;
    opacity: 92%;
}

.sensorybox {
    font-family: brevia, sans-serif;
    font-style: normal;
    font-weight: 800;
    color:#179cf1;
    font-size: 32px;
}

.box {
    padding: 2px;
    border-radius: 3px;
    background-color: #32c5a1;
    color: white;
}

.hi-fi-link {
    margin: 50px;
    height: 80px;
    background: linear-gradient(89.26deg, #da25ee 3.5%, #0581ee 76.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .83;
    transition: opacity .3s ease;
}

.hi-fi-link:hover {
    opacity: 1;
}


.title-container {
    margin-bottom: 250px;
}

/* || TABLE OF CONTENTS *******/

.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}

.table-wrap {
    margin: 30px auto;
    width: 270px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 21px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}

.blue {background: #179cf1;}
.purple {background: #8d41c7;}
.yellow {background: #eeb151;}
.green {background: #32c5a1;}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}

/* || PROJECT CONTAINER *******/

.project-container p {
    text-align: left;
    padding: 0 5px;
}


.project-container h1 {
    color:  #565656;
}

.project-square {
    width: 100%;
    height: 330px;
}

.product, 
.response {
    background: #FFFFFF;
}


.audience,
.goal-role-duration {
     /* background: #50ABFF; */
    background:#179cf1eb;
}

.audience h1, 
.goal-role-duration h1 {
    color: white;
}

.audience p, 
.goal-role-duration p {
    color: #e8f4ff;
}


.text-wrap {
    margin: 0 auto;
    width: 310px;
}


/* || USER RESEARCH CONTAINER *******/

.abstract, 
.accessibility {
    background: rgba(244, 244, 244, 0.637);
}

.abstract-container {
    margin: 30px auto 50px;
}

/* ||  WIREFRAMES CONTAINER *******/


.wireframes-images-container {
    margin: 0px auto 50px;
    text-align: center;
}

.sensory-wireframe {
    margin-top: 20px;
    width: 150px;
    height: 324px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 20px;
}

/* ||  RESEARCH & USABILITY BACKGROUND CONTAINER *******/

.number {
    font: bolder;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    background-color: rgb(119, 23, 119);
}

.usability-study-background {
    /* background: #6b0db3dc; */
    background:#7b13ca;
   
}

.usability-study-background h1 {
    color: white;
}

.usability-study-background p {
    color: #fcf8ff;
}


/* ||  MOCKUPS CONTAINER *******/

.mockups-images-container, 
.mockups-summary {
    background: #d6fef4;
    width: 100%;
}

.mockups-images-wrap {
    margin: 30px auto 50px;
    text-align: center;
}


/* ||  LEARNINGS CONTAINER *******/

.learnings-info-wrap {
    margin-bottom: 100px;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%,#0d72c9 0%, #6129ed  100%);
}


.prototype-title {
    margin-top: 30px;
}

/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) {

    /* || GENERAL FONT STYLES *******/

   p,
   .target-square li,
   .prototype-link {
      font-size: 19px;
   }
    
  h1 {
      font-size: 32px;
  }

   h2 {
       font-size: 22px;
   }
   
   /* || HERO *******/

   .main-header {
       height: 550px;
    }

   .sensorybox {
        font-size: 50px;
    }

    .title-container {
       margin-top: -170px;
   }



   /* || TABLE OF CONTENTS *******/

  .table-wrap {
      margin: 65px auto 105px;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-evenly;
  }

  .table-flex {
      flex-direction: column;
      margin: 0 28px;
  }

  .table-flex h2 {
      font-size: 25px;
  }

  .text-wrap {
      width: 550px;
  }

  .block {
      width: 125.5px;
      height: 52.5px;   
  }

  .project-divider {
    height: 52.5px;   
}

  /* || USER RESEARCH CONTAINER *******/

    .abstract-container {
        margin: 40px auto 60px;
    }

/* ||  WIREFRAMES CONTAINER *******/

.sensory-wireframe {
    width: 187.5px;
    height: 406px;
}

.wireframes-images-container {
    margin: 0px auto 70px;
}


.mockups-images-wrap {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 60px;
}

.wireframes-images-container {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.prototype-title {
    margin-top: 40px;
}


/* ||  LEARNINGS CONTAINER *******/

    .learnings-info-wrap {
        margin-bottom: 150px;
    }

}

/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    /* || GENERAL FONT STYLES *******/

    p,
    .target-square li,
    .prototype-link {
        font-size: 20px;
     }
     
    h1 {
        font-size: 36px;
    }
    h2 {
         font-size: 24px;
     }

    /* || HERO *******/

    .main-header {
        height: 770px;
     }
 
     .sensorybox{
         height: 100px;
         font-size: 68px;
     }

     .title-container {
       margin-top: 870px;
    }

     /* || TABLE OF CONTENTS *******/

     .table-wrap {
        display: flex;
        flex-direction: row;
        align-items:center;
        margin: 85px auto 125px;
        width: 1150px;
        height: 200px;
    }

    .table-flex {
        margin: 0 65px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 66.25px;   
    }

    .project-divider {
        height: 71.5px;   
    }

    /* || PROJECT CONTAINER *******/

    .project-container {
        display: flex;
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 500px;
    }

    /* || USER RESEARCH CONTAINER *******/

    .abstract-container {
        margin: 50px auto;
        width: 700px;
    }

    .research-container {
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .research-text-wrap {
        width: 550px;
    }

     /* ||  WIREFRAMES CONTAINER *******/

     .sensory-wireframe {
        width: 250.5px;
        height: 541px;
        margin-top: 30px;
    }

    .wireframes-images-container {
        margin: 0px auto 80px;
        width: 1300px;
        flex-direction: row;
    }

    .mockups-images-wrap {
        width: 1000px;
        flex-flow: row wrap;
    }

    .prototype-title {
        margin-top: 50px;
    }

    .mockup {
        margin-top: 50px;
    }


    /* ||  LEARNINGS CONTAINER *******/

    .learnings-info-wrap {
        margin-bottom: 200px;
    }
   
}