* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p {
    line-height: 1.6;
    color:#808080;
}

h2 {
    font-size: 19px;
    text-align: center;
}


/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/shirtsbymike/shirts.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

.baloo-chetan {
    font-family: 'Baloo Chettan 2', cursive;
}

.main-title-container {
    margin-top: 235px;
}

.shirtsByMike-title {
    color: #40B962;
    font-size: 32px
}


/* || TABLE OF CONTENTS *******/

.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}

.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 19px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}

.teal {background: #28798A;}
.orange {background: #D96A1A;}
.green {background: #40B962;}


/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}


/* || PROJECT CONTAINER *******/

.project a {
    text-decoration: none;
    color: #5188aa;
    transition: color .2s ease;
}

.project a:hover {
    color:#2171a3;
}

.project-container p {
    text-align: left;
    padding: 0 5px;
}

.project-container h2 {
    color:  #202020;
}

.project-square {
    width: 100%;
    height: 330px;
}

.project, 
.response {
    background: #FFFFFF;
}

.problem p,
.duration p {
    color: #28798A;
}

.duration p {
    text-align: center;
}

.problem h2, 
.duration h2 {
    color: #0D4753;
}

.problem,
.duration {
    background: #28798A20;
}

.text-wrap {
    margin: 0 auto;
    width: 330px;
}


/* || OLD WEBSITE CONTAINER *******/

.old-website-container {
    background: #D96A1A20;
    width: 100%;
}

.old-hero-img-container,
.two-old-img-container,
.hero-img,
.one-old-img {
    width: 355px;
}

.three-img-container {
    margin-bottom: 40px;
}

.old-hero-img-container,
.two-old-img-container {
    margin: 0 auto;
}

.two-old-img-container,
.product-img {
    margin-top: 20px;
}




/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) {

    /* || GENERAL FONT STYLES *******/

    p {
       font-size: 17px;
    }
    
    h2 {
        font-size: 20px;
    }
    

    /* || HERO *******/

    .main-header {
        height: 550px;
     }
 
     .shirtsByMike-title {
         font-size: 50px;
     }

     .main-title-container {
        margin-top: 405px;
    }

      /* || TABLE OF CONTENTS *******/

      .table-wrap {
        margin: 65px auto 105px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        width: 550px;
    }

    .table-flex {
        flex-direction: column;
        margin: 0 50px;
    }

    .table-flex h2 {
        font-size: 25px;
    }

    .block {
        width: 157.5px;
        height: 52.5px;   
    }

    .project-divider {
        height: 52.5px;   
    }

    /* || PROJECT CONTAINER *******/

    .project-container {
        display: flex;
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 350px;
    }

    .project-container p {
        padding: 0 15px;
    }

    .text-wrap {
        width: 365px;
    }

    /* || OLD WEBSITE CONTAINER *******/

    .old-website-container {
        background: #D96A1A20;
        width: 100%;
    }

    .old-hero-img-container,
    .two-old-img-container,
    .hero-img,
    .one-old-img {
        width: 355px;
    }

    .three-img-container {
        margin-bottom: 40px;
    }

    .old-hero-img-container,
    .two-old-img-container {
        margin: 0 auto;
    }

    .two-old-img-container,
    .product-img {
        margin-top: 20px;
    }


}


/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    /* || GENERAL FONT STYLES *******/

    p {
        font-size: 18px;
     }
     
    h2 {
         font-size: 21px;
     }

    /* || HERO *******/

    .main-header {
        height: 670px;
     }
 
     .shirtsByMike-title {
         font-size: 68px;
     }

     .main-title-container {
        float: right;
        margin-right: 70px;
        margin-top: 220px;
    }


     /* || TABLE OF CONTENTS *******/

     .table-wrap {
        margin: 85px auto 125px;
        width: 900px;
    }

    .table-flex {
        margin: 0 95px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 61.25px;   
    }

    .project-divider {
        height: 61.5px;   
    }

    /* || PROJECT CONTAINER *******/

    .problem-container {
        margin-top: -30px;
    }

    .project-square {
        height: 370px;
    }

    .text-wrap {
        width: 450px;
    }

    

}