
* {
    box-sizing: border-box;
}



/* || WEB FONTS  */
body {   
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    background: radial-gradient(101.25% 101.25% at 50% 101.25%, #0183BF 0%, #000364 100%);
} 

.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Fugaz One', cursive;
}


/* || GENERAL STYLES  */


/* || logo */

.main-header a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin: 10px auto 0px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}



html{
    font-size: 22px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin: 7px;
}

ul a {
    text-decoration: none;
    color: #3994FF;
    padding: 10px;
}



.active {
    color: #DCECFF;
}

.about:hover,
.contact:hover {
    color: #b1d1f7;
}

.about,
.contact {
    transition: color .25s ease;
}

h1 {
    font-size: 2.7rem;
}


/* || MAIN STYLES  */

.main-header {
    height: 540px;
    padding: 1em;
    margin-bottom: 30px;

}



.intro-message {
    margin-top: 35px;
    text-align: center;
}

.hello-title {
    font-size: 65px;
    width: 185px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    background: linear-gradient(89.92deg, #ff0202 4.83%, #fc5757 22.88%, #6FF55B 40.93%, #3EF31F 57.26%, #46A0FA 69.3%, #1A83FA 78.75%, #0065D8 87.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 60px #00FFC8;
    margin: auto;
}


.period {
    background: #CADFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.6rem;
}

.intro {
    text-align: center;
    margin-top: 20px;

}

.intro p {
    color: #DCECFF;
    margin: 0;
    line-height: 1.7rem;
    text-align:center;
}

.rgb-bar-bottom {
    height: 15px;
    background: linear-gradient(90deg, #ff0000 0%, #4dff00 50%, #007EFF 100%);
}

/******  MAIN CONTAINER  ******/

.main-container {
    margin: -10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.main-container a {
    text-decoration: none;
}

.card {
    width: 90%;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.shirts-txt,
.grocery-txt,
.woosh-txt,
.prime-txt {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

/* Shirts by Mike  */

.frog-col {
    background-color: #d5ffcc;
}

.frog-col:hover {
    box-shadow: 0px 0px 45px 7px #bcffa5;
}

.shirts-txt {
    color: #00747B;
    margin-top: -10px;
} 


/* Grocery Prime  */

.grocery-logo {
    width: 270px;
    text-align: center;
}

.grocery-col {
    background-color: #feffc9;
}

.grocery-col:hover {
    box-shadow: 0px 0px 45px 7px #feffb8;
}

.grocery-txt {
    color: #31B004;
}

.prime-txt {
    color: #ff9627;
    margin-top: -19px;
}


/* WooshMail */
.woosh-col {
    background: #ffffff;
}

.woosh-col:hover {
    box-shadow: 0px 0px 45px 7px #a3edff;
}

.woosh-txt {
    font-family: 'Leckerli One', cursive;
    background: linear-gradient(90deg, rgba(145, 202, 255, 0.83) 3.98%, #43A5FF 51.99%, #0063BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woosh-logo {
    width: 255px;
}

/* transition propertites */
.card {
    transition: all .3s ease;
}


/******  FOOTER  ******/

footer {
    margin-top: auto;
}

footer p {
    margin-top: auto;
    text-align: center;
    padding: 1.4em 0;
    color: #e1e1e1;
    margin: 0 auto;
    font-size: 15px;
}

.treehouse-link {
    color: #e1e1e1; 
    text-decoration: none;
}

.treehouse-link:hover {
    color: white;
    text-decoration: underline;
}



/* ========================
Media Query for 720px
=========================== */

@media (min-width: 770px) {
    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: 25px;
    }
    
    .hello-title {
        width: 200px;
        font-size: 77px;
    }

    .period {
        font-size: 3.25rem;
    }

    .intro p {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
    
    .intro-message {
        margin-top: 80px;
    }


    .main-container {
        width: 770px;
        flex-flow: row wrap;
     
    }

    .card {
        width: 45%;
    }
    



}


/* =====================
Media Query for 1230px
======================== */

@media (min-width: 1230px) {

    .main-container {
        width: 1350px;
        flex-wrap: nowrap; 
        align-items: flex-start;
        justify-content: space-around;
    }
 
    .card {
        width: 30%;
    }

}