
* {
    box-sizing: border-box;
}

.main-header {
    padding-top: 15px;
}

/* || WEB FONTS  */
body {   
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    background: rgba(0, 0, 0, 0.948);
} 

.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Fugaz One', cursive;
}

/* || GENERAL STYLES  */

/* || logo */

.main-header a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin: 0px auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: opacity .3s ease, box-shadow .3s ease, border-radius .3s ease;
    border-radius: 5px;
    opacity: .85;
}

.logo:hover {
    opacity: 1;
    box-shadow: -2px 0px 3px 1px rgb(255, 101, 101),
                0px -2px 3px 1px rgb(5, 230, 76),
                2px 0px 3px 1px rgb(73, 169, 252),
                0px 2px 3px 1px rgb(182, 80, 255);      
}



.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


/* .circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(25, 123, 241);
    margin-left: -5px;
} */


.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}



.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin-bottom: 10px;
    font-size: 18px;
}

ul a {
    text-decoration: none;
    color: #ababab;
    padding: 5px;
}

.ricardo:hover {
    color: #efefef;
}

.active {
    color: #efefef;
}


.ricardo,
.contact {
    transition: color .3s ease;
}



/* || MAIN STYLES  */

.intro-message {
    margin-top: 40px;
    text-align: center;
}

.hello-title {
    font-size: 55px;
    width: 185px;
    font-weight: bold;
    text-align: center;
    /* background: linear-gradient(120deg, #f80505 15%, #fb3e3e 25%, #fca06e 35%, #06eb62 45.93%, #0be687 60.26%, #4faafb 67.3%, #0d5adf 77.75%, #0747e7 86%, #0339c2 100%); */
    background: linear-gradient(120deg,  rgb(241, 15, 15) 17%, #40fa9d 58%, #1272e7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}


.intro-message h2 {
    width: 375px;
    font-size: 31px;
    color: rgba(0, 0, 0, 0.81);
    margin: 0 auto;
    text-align: center;
    color: rgb(244, 244, 244);
}

.ux-design-title {
    font-weight: bold;
    display: inline-block;
    /* background: linear-gradient(120deg, #32f694 0%, #0eda77 15%, #0cb4da 30%, #3688fb 45%, #2680fe 60.26%, #7a48f7 70%, #a03df7 80.75%, #d53fff 100%); */
    background: linear-gradient(120deg, #7ff9bc 12%, #40d6f8 30%, #268efe 60.26%, #6b48f7 90%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%, #00FF8A 0%, #0056FF 54.69%, #FF0600 100%);

}

/******  MAIN CONTAINER  ******/

.main-container {
    padding: 7px 0px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
}

.main-container a {
    text-decoration: none;
}

.card {
    width: 340px;
    height: 300px;
    border-radius: 10px;
    margin: 25px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .93;
    transition: opacity .3s ease, box-shadow .3s ease;
}

.card:hover { 
    opacity: 1;
    box-shadow: 0px 0px 15px 10px rgb(90, 163, 241);
}
   


.shirts-txt,
.grocery-txt,
.woosh-txt,
.prime-txt {
    margin: 0;
    padding: 0;
    font-size: 33px;
}

/* Shirts by Mike  */

.frog-col {
    background-color: #d5ffcc;
}


.frog-pic {
    width: 65px;
    height: 65px;
}


.shirts-txt {
    color: #00747B;
    margin-top: -10px;
} 


/* Grocery Prime  */

.grocery-logo {
    width: 270px;
    text-align: center;
}

.grocery-col {
    background-color: #feffc9;
}



.grocery-txt {
    color: #31B004;
}

.prime-txt {
    color: #ff9627;
    margin-top: -14px;
}


/* WooshMail */
.woosh-col {
    /* background: #e8f4fd; */
    background: #e4f2ff;
}


.woosh-txt {
    font-family: 'Leckerli One', cursive;
    background: linear-gradient(90deg, rgba(145, 202, 255, 0.83) 3.98%, #43A5FF 51.99%, #0063BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woosh-logo {
    width: 255px;
    
}



/******  FOOTER  ******/

footer {
    margin-top: auto;
}

footer p {
    width: 90%;
    margin-top: auto;
    text-align: center;
    padding: 1.4em 0;
    color: #919191;
    margin: 0 auto;
    font-size: 15px;
}

.treehouse-link {
    color: #919191;
    text-decoration: none;
    transition: color .2s ease;
}

.treehouse-link:hover {
    color: rgb(242, 242, 242);
    text-decoration: underline;
}



/* ========================
Media Query for 770px
=========================== */

@media (min-width: 770px) {
    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: -10px;
        font-size: 21px;
    }

    .ricardo {
        margin-right: 45px;
    }
    
    .hello-title {
        width: 220px;
        font-size: 64px;
    }
    
    .intro-message {
        margin-top: 80px;
    }


    .main-container {
        width: 770px;
        flex-flow: row wrap;
     
    }

    .card {
        width: 350px; 
    }

    .intro-message h2 {
        width: 800px;
        font-size: 42px;
    }

    .shirts-txt,
    .grocery-txt,
    .woosh-txt,
    .prime-txt {
        font-size: 38px;
    }

    .frog-pic {
        width: 75px;
        height: 75px;
    }
   
}


/* =====================
Media Query for 1250px
======================== */

@media (min-width: 1250px) {

    .main-container {
        width: 1230px;
        flex-wrap: nowrap; 
    }

    .hello-title {
        font-size: 72px;
    }
    .intro-message h2 {
        width: 1100px;
        font-size: 50px;
    }
 
    .card {
        width: 380px;
    }

}