@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-weight: 400;
    src: local('Poetsen One'), url('https://fonts.cdnfonts.com/s/31868/PoetsenOne-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}


/* || WEB FONTS  ************/


body {   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3;
    background: rgba(0, 0, 0, 0.948);
 
} 

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 75px;
    width: 100%;
}

.shirts-txt,
.grocery-txt,
.woosh-txt,
.prime-txt,
.anderson-title,
.tcc-title-container h2, 
.sensorybox {
    margin: 0;
    padding: 0;
    font-size: 33px;
    font-weight: 700;
}

h1 {
    color: white;
}


/****** CARD STYLES ***********/

.card {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 25px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid rgb(63, 63, 63);
    background: linear-gradient(180deg, #242424 3.5%, #171717 76.22%);
    transition: background .4s ease, border .3s ease, transform .4s ease;
} 

.card:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(186, 186, 186);
    transform: scale(1.09);
}


.sensory-card:hover {  
    background: radial-gradient(77.82% 77.82% at 48.8% 100%, #5801b5 0%, #003089 100%);
}

.tcc-col-card:hover {
    background: radial-gradient(77.82% 77.82% at 49.94% 47.1%, #FF6A00 0%, #A40000 100%);
}

.anderson-card:hover {
    background: linear-gradient(120deg, #573f00 11.5%, #001848 100%);
}

.grocery-card:hover {
    background: radial-gradient(90.95% 97.95% at 48.8% 100%, #580e0e 0%, #670202 100%);
}

.woosh-card:hover {
    background: linear-gradient(45deg, #375f97 1.5%, #021f48 100%);
}

.frog-card:hover {
    background: #00502f8a;
}

/******************** 

|| WEB FONTS  

**********************/


/* SOCIAL GOOD TITLE   */

.social-good-container {
    line-height: 1.25;
}

.social-good-container h2 {
    color: rgb(125, 125, 125); 
}

/* Tucson Charities Center  */

.tcc-title-container h2,
.name-title {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
}

.name-title {
    margin-top: -10px;
    letter-spacing: 3px;
    color: rgb(232, 232, 232);
}

.name-title-container {
    text-align: center;
    margin-bottom: 10px;
}

.tucson-title,
.center-title {
    color: rgba(184, 45, 45);
}

.charities-title {
    color: rgba(40, 137, 227); 
}

.tcc-title-container {
    line-height: 1.25;
}

.coming-soon {
    color: rgb(211, 211, 211);
}


/* Sensorybox  */

.sensorybox {
    font-family: 'Poetsen One', sans-serif;
    background: linear-gradient(89.26deg, #CC26DE 3.5%, #0FACEF 76.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


                                                

/* Anderson Restaurant  */

.anderson-title-container {
    z-index: 2;
}

.anderson-title, 
.restaurant-title {
    margin: 0;
    padding: 0;
}

.anderson-title {
    color: #F3F3F3;
    letter-spacing: 0.06em;
    font-family: "Nova Slim", cursive;
 }


 .restaurant-title {
    font-family: 'Parisienne', cursive;
    font-weight: 100;
    color: #b48f31;
    text-align: right;
    font-size: 22.5px;
    margin-right: 6px;
    letter-spacing: .02em;
}


/* Shirts by Mike  */

.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    color: #40B962;
}

.frog-pic {
    margin: 6px;
    width: 55px;
    height: 55px;
}


/* Grocery Prime  */

.grocery-txt, 
.prime-txt {
    font-family: 'Kanit', sans-serif;
}

.grocery-txt,
.prime-txt {
    color: #FF0C0C;
}

.grocery-txt {
    letter-spacing: .055em;
}

.prime-txt {
    margin-top: -10px;
    font-style: italic;
    letter-spacing: .04em;
}


/* WooshMail */

.woosh-txt {
    font-family: 'Lemonada', cursive;
    font-weight: 600;
    color: #2998F8;
}

.woosh-logo {
    width: 255px;
}



/* || GENERAL STYLES  */

/* || logo */

.banner a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
    margin: auto;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}


.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin-bottom: 10px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    padding: 5px;
}

.active {
    color: #efefef;
}
.ricardo {
    color: #a2a2a2;
}

.ricardo:hover {
    color: #efefef;
}

.ricardo {
    transition: color .2s ease;
}



/* || MAIN STYLES  */

.intro-message {
    margin: 40px auto 0;
    text-align: center;
}

.hello-title {
    font-size: 44px;
    width: 185px;
    background: linear-gradient(120deg,  rgb(241, 15, 15) 17%, #40fa9d 58%, #1272e7 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hello-title, 
.intro-message h2 {
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}

.intro-message h2 {
    width: 375px;
    font-size: 34px;
    color: rgb(244, 244, 244);
}


.ux-design-title {
    display: inline-block;
    background: linear-gradient(120deg, #7ff9bc 12%, #40d6f8 30%, #268efe 60.26%, #6b48f7 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/******  MAIN CONTAINER  ******/

.main-container {
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 345px;
}

.main-container a {
    text-decoration: none;
}




/******  FOOTER  ******/


footer {
    margin-top: -20px;
}


footer p {
    text-align: center;
    padding: 1.4em 0;
    color: #919191;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    text-align: left;
}

.copyright-p {
    border-bottom: 1px solid rgb(152, 152, 152);
    padding-bottom: 10px;
    margin-top: 7px;
    text-align: center;
}

.certificate-paragraphs {
   margin: 20px auto 30px;
   line-height: 1.4rem;
   width: 345px;
}

.link {
    color: #9f9f9f;
    text-decoration: none;
}

.link:hover {
    color: rgb(184, 184, 184);
    text-decoration: underline;
}



/* ===========================
Media Query for 768px (tablet)
============================== */

@media (min-width: 768px) {
    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: -10px;
        font-size: 21px;
    }

    .ricardo {
        margin-right: 45px;
    }
    
    .hello-title {
        width: 220px;
        font-size: 60px;
    }


    .shirts-txt,
    .grocery-txt,
    .woosh-txt,
    .prime-txt,
    .anderson-title,
    .tcc-title-container h2,
    .sensorybox {
        font-size: 36px;
    }
    
     .restaurant-title {
        font-size: 24.5px;
    }

    .intro-message {
        margin-top: 80px;
    }

    .main-container {
        margin: 40px auto;
        width: 758px;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .intro-message h2 {
        width: 758px;
        font-size: 40px;
    }

    .certificate-paragraphs {
        width: 745px;
     }

     footer p {
         font-size: 14px;
     }
   
}


/* =====================
Media Query for 1440px (desktop)
======================== */

@media (min-width: 1440px) {

    .main-container {
        margin: 50px auto;
        width: 1200px;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .card {
        margin-right: 25px;
    }
    .hello-title {
        font-size: 72px;
    }

    .intro-message h2 {
        width: 1100px;
        font-size: 52px;
    }
    
    .shirts-txt,
    .grocery-txt,
    .woosh-txt,
    .prime-txt,
    .anderson-title,
    .tcc-title-container h2,
    .sensorybox {
        font-size: 38px;
    }

    .restaurant-title {
        font-size: 26.5px;
    }

    .certificate-paragraphs {
        width: 1150px;
     }

}