
* {
    box-sizing: border-box;
}

.main-header {
    padding-top: 15px;
}

/* || WEB FONTS  */
body {   
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    /* background: radial-gradient(100% 100% at 48.44% 0%, #004996 0%, #100076 100%); */
    background: radial-gradient(100% 100% at 48.44% 0%, #001156 0%, #000000 100%);
   
} 



.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Fugaz One', cursive;
}


/* || GENERAL STYLES  */


/* || logo */

.main-header a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin: 10px auto 0px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}



html{
    font-size: 22px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin: 7px;
}

ul a {
    text-decoration: none;
    color: #bababa;
    padding: 10px;
}



.about:hover,
.contact:hover {
    color: #efefef;
}

.active {
    color: #6d6d6d;
}


.about,
.contact {
    transition: color .25s ease;
}

h1 {
    font-size: 2.7rem;
}


/* || MAIN STYLES  */

.intro-message {
    margin-top: 35px;
    text-align: center;
}

.hello-title {
    font-size: 70px;
    width: 185px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    background: linear-gradient(89.92deg, #f71b1b 14.83%, #f9746d 32.88%, #06df76 50.93%, #04ceba 67.26%, #0e81f3 79.3%, #056ce1 88.75%, #0157b8 97.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 0px 60px #00fbff; */
    margin: auto;

    
}


.period {
    background: #176ef1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}

.intro {
    text-align: center;
    margin-top: 20px;

}

.intro p {
    color: #f7f7f7;
    margin: 0;
    line-height: 1.7rem;
    text-align:center;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%, #00FF8A 0%, #0056FF 54.69%, #FF0600 100%);

}

/******  MAIN CONTAINER  ******/

.main-container {
    padding: 50px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: rgb(0, 37, 101);
    border-radius: 20px;

}

.main-container a {
    text-decoration: none;
}

.card {
    width: 90%;
    height: 300px;
    border-radius: 20px;
    margin: 25px auto;
    /* padding: 30px 0; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .9;
    transition: all .3s ease;
}

.card:hover {
    opacity: 1;
    box-shadow: 1px 1px 9px 3px rgb(67, 171, 250);
}


.shirts-txt,
.grocery-txt,
.woosh-txt,
.prime-txt {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

/* Shirts by Mike  */

.frog-col {
    background-color: #d5ffcc;
}



.shirts-txt {
    color: #00747B;
    margin-top: -10px;
} 


/* Grocery Prime  */

.grocery-logo {
    width: 270px;
    text-align: center;
}

.grocery-col {
    background-color: #feffc9;
}



.grocery-txt {
    color: #31B004;
}

.prime-txt {
    color: #ff9627;
    margin-top: -19px;
}


/* WooshMail */
.woosh-col {
    background: #e8f4fd;
}


.woosh-txt {
    font-family: 'Leckerli One', cursive;
    background: linear-gradient(90deg, rgba(145, 202, 255, 0.83) 3.98%, #43A5FF 51.99%, #0063BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woosh-logo {
    width: 255px;
}



/******  FOOTER  ******/

footer {
    margin-top: auto;
}

footer p {
    width: 90%;
    margin-top: auto;
    text-align: center;
    padding: 1.4em 0;
    color: #e1e1e1;
    margin: 0 auto;
    font-size: 15px;
}

.treehouse-link {
    color: #e1e1e1; 
    text-decoration: none;
}

.treehouse-link:hover {
    color: white;
    text-decoration: underline;
}



/* ========================
Media Query for 720px
=========================== */

@media (min-width: 770px) {
    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: 25px;
    }
    
    .hello-title {
        width: 220px;
        font-size: 82px;
    }

    .period {
        font-size: 1.9rem;
    }

    .intro p {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
    
    .intro-message {
        margin-top: 80px;
    }


    .main-container {
        width: 770px;
        flex-flow: row wrap;
     
    }

    .card {
        width: 45%;
    }

   
}


/* =====================
Media Query for 1230px
======================== */

@media (min-width: 1230px) {

    .main-container {
        width: 1350px;
        flex-wrap: nowrap; 
        /* align-items: flex-start; */
        /* justify-content: space-around; */
    }
 
    .card {
        width: 30%;
    }

}