
* {
    box-sizing: border-box;
}

.main-header {
    padding-top: 15px;
}

/* || WEB FONTS  */
body {   
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font: 400 100%/1.5 'Noto Sans', sans-serif;
    /* background: radial-gradient(100% 100% at 48.44% 0%, #004996 0%, #100076 100%); */
    /* background: radial-gradient(100% 100% at 50% 0%, #000000 0%, #000000 100%); */
    /* background: rgb(0, 10, 48);  */
    background: white;
} 



.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Fugaz One', cursive;
}


/* || GENERAL STYLES  */


/* || logo */

.main-header a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin: 10px auto 0px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}



html{
    font-size: 22px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.main-nav li {
    margin: 7px;
    font-size: 18px;
}

ul a {
    text-decoration: none;
    color: #787878;
    padding: 10px;
}



.about:hover,
.contact:hover {
    color: #a9a9a9;
}

.active {
    color: #a9a9a9;
}


.about,
.contact {
    transition: color .25s ease;
}



/* || MAIN STYLES  */

.intro-message {
    margin-top: 35px;
    text-align: center;
}

.hello-title {
    font-size: 55px;
    width: 185px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    /* background: linear-gradient(120deg, #f80505 15%, #fb3e3e 25%, #fca06e 35%, #08ee7f 45.93%, #05d8c3 60.26%, #077aee 75.3%, #0358cf 88.75%, #0144b8 100%); */
    background: linear-gradient(120deg, #f80505 15%, #fb3e3e 25%, #fca06e 35%, #06eb62 45.93%, #0be687 60.26%, #4da9f9 70.3%, #317af7 80.75%, #1554f3 90%, #003dd8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 0px 60px #00fbff; */
    margin: auto;
}


.intro-message h2 {
    width: 370px;
    font-size: 31px;
    color: rgba(0, 0, 0, 0.81);
    margin: 0 auto;
}

.ux-design-title {
    background: linear-gradient(120deg, #75f8b7 0%, #29ff98 15%, #4bdafa 30%, #3688fb 45%, #2680fe 60.26%, #7a48f7 70%, #a03df7 80.75%, #d53fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%, #00FF8A 0%, #0056FF 54.69%, #FF0600 100%);

}

/******  MAIN CONTAINER  ******/

.main-container {
    padding: 7px 0px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
}

.main-container a {
    text-decoration: none;
}

.card {
    width: 340px;
    height: 300px;
    border-radius: 10px;
    margin: 25px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .92;
    transition: all .3s ease;
}

.card:hover {
    opacity: 1;
    box-shadow: -5px 0px 10px 1px rgb(252, 100, 100),
                0px -5px 10px 1px rgb(2, 220, 71),
                5px 0px 10px 1px rgb(78, 152, 255),
                0px 5px 10px 1px rgb(185, 98, 248);
                 /* 0px 2px 5px 4px rgb(145, 207, 255); */
                 
}


.shirts-txt,
.grocery-txt,
.woosh-txt,
.prime-txt {
    margin: 0;
    padding: 0;
    font-size: 33px;
}

/* Shirts by Mike  */

.frog-col {
    background-color: #d5ffcc;
}


.frog-pic {
    width: 65px;
    height: 65px;
}


.shirts-txt {
    color: #00747B;
    margin-top: -10px;
} 


/* Grocery Prime  */

.grocery-logo {
    width: 270px;
    text-align: center;
}

.grocery-col {
    background-color: #feffc9;
}



.grocery-txt {
    color: #31B004;
}

.prime-txt {
    color: #ff9627;
    margin-top: -14px;
}


/* WooshMail */
.woosh-col {
    /* background: #e8f4fd; */
    background: #e4f2ff;
}


.woosh-txt {
    font-family: 'Leckerli One', cursive;
    background: linear-gradient(90deg, rgba(145, 202, 255, 0.83) 3.98%, #43A5FF 51.99%, #0063BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woosh-logo {
    width: 255px;
    
}



/******  FOOTER  ******/

footer {
    margin-top: auto;
}

footer p {
    width: 90%;
    margin-top: auto;
    text-align: center;
    padding: 1.4em 0;
    color: #919191;
    margin: 0 auto;
    font-size: 15px;
}

.treehouse-link {
    color: #919191;
    text-decoration: none;
}

.treehouse-link:hover {
    color: rgb(87, 181, 253);
    text-decoration: underline;
}



/* ========================
Media Query for 770px
=========================== */

@media (min-width: 770px) {
    .main-nav {
        width: 450px;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav li {
        margin-left: 25px;
        font-size: 22px;
    }
    
    .hello-title {
        width: 220px;
        font-size: 72px;
    }

   

    .second-period {
        font-size: 1.5rem;
    }


    
    .intro-message {
        margin-top: 80px;
    }


    .main-container {
        width: 770px;
        flex-flow: row wrap;
     
    }

    .card {
        width: 350px; 
    }

    .welcome {
        width: 750px;
        font-size: 50px;
    }

    .shirts-txt,
    .grocery-txt,
    .woosh-txt,
    .prime-txt {
        font-size: 38px;
    }

    .frog-pic {
        width: 75px;
        height: 75px;
    }
   
}


/* =====================
Media Query for 1260px
======================== */

@media (min-width: 1260px) {

    .main-container {
        width: 1250px;
        flex-wrap: nowrap; 
        /* align-items: flex-start; */
        /* justify-content: space-around; */
    }

    .welcome {
        width: 1100px;
    }
 
    .card {
        width: 380px;
    }

}