* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background: #fff;
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p,
.target-square li {
    line-height: 1.6;
    color: #6d6d6d;
    font-size: 17px; 
}

h1, 
h2 {
    text-align: center;
    color: #565656;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}

.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}

/* || HERO *******/
.main-header {
    margin-top: 75px;
    height: 330px;
    background: url("../img/tcc/tccCover.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

.title-container {
    padding: 15px;
    background: linear-gradient(119.45deg, #B42506 21.93%, #D1492B 76.69%);
    /* background: rgb(18, 18, 18); */
    border-radius: 5px;
    opacity: .80;
}

.philosopher {
    font-family: 'Philosopher', sans-serif;
    color: white;
    font-weight: bold;
}

/* .tucson,
.center {
    color: rgba(184, 45, 45);
}

.charities {
    color: rgba(40, 137, 227); 
} */

