* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.center-vertical {
    display: flex;
    align-items:center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p,
.target-square li {
    line-height: 1.6;
    color: #6d6d6d;
    font-size: 17px; 
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: #565656;

}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}


/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url("../img/wooshmail/wooshmail-cover.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}


/* || WooshMail TITLE *******/

.main-title-container {
    margin-top: 275px;
}

.wooshmail-title {
    color: #2998F8;
    font-size: 32px;
}

.lemonada {
    font-family: 'Lemonada', cursive;
    font-weight: 600;
}


/* || TABLE OF CONTENTS *******/

.table-of-contents-container,
.next-steps-container {
    width: 100%;
    background: #F9F9F9;
}

.table-wrap {
    margin: 30px auto;
    width: 250px;  
}

.table-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-flex h2 {
    color: #414141; 
    font-size: 21px;
}

.block {
    width: 105px;
    height: 35px;   
    display: inline-block;
    border-radius: 3px;
}

.light-blue {background: #81BDF6;}
.purple {background: #883AC6;}
.gray {background: #646464;}
.medium-blue {background: #2998F8;}

/* || PROJECT DIVIDER *******/

.project-divider {
    width: 100%;
    height: 42.5px;
}


/* || PROJECT CONTAINER *******/

.project-container p {
    text-align: left;
    padding: 0 5px;
}

.project-container h2 {
    text-align: center;
}

.project-square {
    width: 100%;
    height: 330px;
}

.text-wrap,
.target-square  {
    margin: 0 auto;
    width: 310px;
}



.target-audience-info-wrap,
.personas-container {
    margin: -30px auto 30px;
}

.target-square,
.personas-wrap {
    margin-top: 20px;
}

.problemToSolve-square {
    background: #f1f1f1;
}

/* || TARGET CONTAINER *******/ 

.target-audience-container {
    background: #81BDF640;    
}

.target-audience-container h2,
.planning-container h2 {
    margin: 30px auto;
}


.project-problem-container-wrap,
.target-audience-info-wrap,
.personas-container,
.testing-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* || PLANNING CONTAINER *******/

.planning-container h1 {
    color: #6b09bb;
    margin-top: 30px;
}

.personas-container {
    margin: 0 auto 40px;
}

.img-of-persona,
.wireframe-img {
    display: inline-block;
    width: 310px;
    height: 200px;
    border-radius: 5px;
}

.img-of-persona {
    border: 3px solid #883AC650;
}

#personas,
#storyboard {
    margin-bottom: 50px;
}

/* || COMPETITOR ANALYSIS CONTAINER *******/

.competitor-container {
    background: #320052;
}

.comp-analysis-wrap {
    margin: 30px auto;
}

.comp-analysis-wrap h1 {
    color: #ededed;
    margin-bottom: 30px;
}

.comp-title-container h2 {
    color: #d8b5f3;
    font-weight: 700;
   
}

.comp-analysis-wrap p {
    color: #E1E1E1;
    margin-bottom: 30px;
    padding: 0 10px;
}


/* || WIREFRAMES ANALYSIS CONTAINER *******/

.wireframes-container {
    background: #efefef;
}

.wireframes-wrap {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wireframe-img-container {
    margin-bottom: 30px;
}

.wireframe-img {
    border: 1px solid rgb(94, 94, 94);
}

/* || WIREFRAMES PARAGRAPH CONTAINER *******/

.wireframes-title {
    color: #808080;
    margin-top: 30px;
    text-align: center;
}

.wireframes-pgh-container {
    background: rgb(208, 208, 208);
}

.wireframes-pgh-info-wrap {
    margin: 0 auto;
    width: 310px;
    padding: 10px 0;
}

.wireframes-pgh-info-wrap h2 {
    color: rgb(42, 42, 42);
}

.wireframes-pgh-info-wrap p,
.prototype-link {
    color: #565656;
}

.prototype-link {
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    transition: color .2s ease;
}

.prototype-link:hover {
    color: #1f1f1f;
    text-decoration:underline;
}


.wireframes-links-container {
    margin: 25px auto;
    width: 310px;
    text-align: center;
}


/* || TESTING CONTAINER *******/

.testing-container {
    background: #FFFFFF;
}

.user-square {
    width: 100%;
}

.user-flow-test-title {
    color: #2998F8;
}

.user-analysis-title {
    color: rgb(225, 225, 225);
}

.user-analysis-pgh {
    color: #d2d2d2;
}

.testing-wrap {
    width: 310px;
    margin: 30px auto;
}

.analysis-square {
    background: #003767;
}


/* || SUMMARY CONTAINER *******/

.summary-title {
    color:#81BDF6;
}

.summary-info-wrap {
    margin: 30px auto 100px;
    width: 310px;
}

.rgb-bar-bottom {
    height: 25px;
    background: radial-gradient(49.75% 8150.4% at 50.25% 50%, #81BDF6  0%, #2998F8 100%);
}


/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) {

      /* || GENERAL FONT STYLES *******/

     p,
     .target-square li,
     .prototype-link {
        font-size: 19px;
     }
      
    h1 {
        font-size: 30px;
    }

     h2 {
         font-size: 22px;
     }
     
     /* || HERO *******/
 
     .main-header {
         height: 550px;
      }
  
     .wooshmail-title {
          font-size: 50px;
      }
 
      .main-title-container {
         margin-top: 455px;
     }

     /* || TABLE OF CONTENTS *******/

    .table-wrap {
        margin: 65px auto 105px;
        display: flex;
        flex-direction: row;
        align-items:baseline;
        justify-content: space-evenly;
        width: 710px;
    }

    .table-flex {
        flex-direction: column;
        margin: 0 28px;
    }

    .table-flex h2 {
        font-size: 25px;
    }

    .block {
        width: 125.5px;
        height: 52.5px;   
    }

    /* || PROJECT CONTAINER *******/

    .project-container p {
        padding: 0 15px;
    }

    .project-problem-container-wrap {
        flex-flow: row wrap;
    }

    .project-square {
        width: 50%; 
        height: 350px;
    }

    .text-wrap,
    .target-square {
        width: 355px;
    }

    .target-audience-container h2,
    .planning-container h2 {
        margin-top: 40px;
    }
    .target-square {
        padding: 0 15px;
    }

    .target-audience-info-wrap {
        width: 740px;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 40px;
    }

    .project-divider {
        height: 52.5px;   
    }

    /* || PLANNING CONTAINER *******/

    .planning-container h1 {
        margin-top: 40px;
    }

    .img-of-persona,
    .wireframe-img {
        width: 660px;
        height: 405px;
    }


    .personas-container {
        margin: 0 auto 50px;
    }

    #personas,
    #storyboard {
        margin-bottom: 80px;
    }

    /* || COMPETITOR ANALYSIS CONTAINER *******/


    .comp-analysis-wrap {
        margin: 40px auto;
        width: 600px;
    }

    .comp-analysis-wrap h1 {
        margin-bottom: 40px;
    }

    .comp-title-container {
        display: flex;
        flex-direction: row;
        width: 550px;
        align-items: center;
        justify-content: space-around;
    }


    .comp-analysis-wrap p {
        margin-bottom: 55px;
    }

    /* || WIREFRAMES ANALYSIS CONTAINER *******/

    .wireframes-wrap {
        margin: 60px 0;
    }

    .wireframe-img-container {
        margin-bottom: 40px;
    }


    /* || WIREFRAMES PARAGRAPH CONTAINER *******/

    .wireframes-title {
        margin-top: 45px;
    }

    .wireframes-pgh-info-wrap,
    .testing-wrap {
        width: 550px;
        padding: 10px;
    }
    
    .wireframes-links-container {
        margin: 30px auto;
        width: 410px;
        text-align: center;
    }

    /* || TESTING CONTAINER *******/

    .testing-wrap {
        margin: 40px auto;
    }

    /* || SUMMARY CONTAINER *******/

    .summary-info-wrap {
        margin: 40px auto 120px;
        width: 550px;
        padding: 0 10px;
    }

    
}



/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    /* || GENERAL FONT STYLES *******/

    p,
    .target-square li,
    .prototype-link {
        font-size: 20px;
     }
     
    h1 {
        font-size: 32px;
    }
    h2 {
         font-size: 24px;
     }

    /* || HERO *******/

    .main-header {
        height: 670px;
        background: linear-gradient(80.68deg, rgba(255, 255, 255, 0) 0.72%, #FFFFFF 99.57%), url("../img/wooshmail/wooshmail-cover.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
     }
 
     .wooshmail-title {
         font-size: 68px;
     }

     .main-title-container {
        width: 450px;
        float: right;
        margin-right: 70px;
        margin-top: 70px;
    }

     /* || TABLE OF CONTENTS *******/

     .table-wrap {
        margin: 85px auto 125px;
        width: 1150px;
    }

    .table-flex {
        margin: 0 65px;
    }

    .table-flex h2 {
        font-size: 32px;
    }

    .block {
        width: 183.5px;
        height: 61.25px;   
    }

    .project-divider {
        height: 61.5px;   
    }

    /* || PROJECT CONTAINER *******/



    .project-square {
        width: 50%; 
        height: 350px;
    }

    .text-wrap,
    .target-square {
        width: 450px;
    }

    .target-audience-container h2,
    .planning-container h2 {
        margin-top: 50px;
    }
  
    .target-audience-info-wrap {
        width: 1240px;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    /* || PLANNING CONTAINER *******/

    .planning-container h1 {
        margin-top: 50px;
    }

    .personas-container {
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
        width: 1370px;
    }

    #personas,
    #storyboard {
        margin-bottom: 100px;
    }

    /* || COMPETITOR ANALYSIS CONTAINER *******/

    .comp-analysis-wrap {
        margin: 50px auto;
        width: 725px;
    }

    .comp-analysis-wrap h1 {
        font-size: 32px;
    }
    
    .comp-title-container {
        width: 750px; 
    }

    /* || WIREFRAMES ANALYSIS CONTAINER *******/

    .wireframes-wrap {
        margin: 100px auto;
        flex-flow: row wrap;
        width: 1370px;
    }

    .wireframe-img-container {
        margin-bottom: 50px;
    }

     /* || WIREFRAMES PARAGRAPH CONTAINER *******/

     .wireframes-title {
        margin-top: 60px;
    }

    .wireframes-pgh-info-wrap {
        width: 750px;
        padding: 30px 0;
        text-align: center;
    }

    .wireframes-links-container {
        margin: 35px auto;
    }
  
    /* || TESTING CONTAINER *******/

    .testing-info-wrap {
        flex-flow: row nowrap;
    }
   
    .user-square {
        width: 50%;
    }

    .testing-wrap {
        padding: 0;
    }

    .testing-wrap {
        margin: 50px auto;
    }

      /* || SUMMARY CONTAINER *******/

      .summary-info-wrap {
        margin: 50px auto 140px;
        width: 650px;
    }

}