* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
}

.center-vertical {
    display: flex;
    align-items:center;
    justify-content: center;
}

.banner {
    background: rgba(0, 0, 0, 0.948);
    height: 75px;
    width: 100%;
    position: fixed;
}

/* || GENERAL FONT STYLES *******/

p {
    line-height: 1.6;
    color:#808080;
    font-size: 17px; 
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* || LOGO *******/

.logo {
    text-decoration: none;
    margin: 0px auto;
    padding: 7px;
    width: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    opacity: .80;
    transition: opacity .4s ease;
}


.logo:hover {
    opacity: 1;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -12px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.x {
    font-family: 'Righteous', cursive;
    font-size: 33px;
    color: rgb(19, 119, 227);
    margin: 0 0 0 -12px;
    padding: 0;
}


/* || HERO *******/

.main-header {
    margin-top: 75px;
    height: 330px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url("../img/wooshmail/wooshmail-cover.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}


/* || WooshMail TITLE *******/

.main-title-container {
    margin-top: 275px;
}

.wooshmail-title {
    background: linear-gradient(90deg, #5da3e6 0%, #0779e4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

.leckerli-one {
    font-family: 'Leckerli One', cursive;
    font-weight: 200;
}





/*===============================
    Media Query for 768px (iPad)
================================= */

@media (min-width: 768px) {

      /* || GENERAL FONT STYLES *******/

     p {
        font-size: 19px;
     }
     
     h2 {
         font-size: 22px;
     }
     
     /* || HERO *******/
 
     .main-header {
         height: 550px;
      }
  
     .wooshmail-title {
          font-size: 50px;
      }
 
      .main-title-container {
         margin-top: 455px;
     }
}



/*================================
    Media Query for 1440px (laptop)
================================== */

@media (min-width: 1440px) {

    /* || GENERAL FONT STYLES *******/

    p {
        font-size: 20px;
     }
     
    h2 {
         font-size: 24px;
     }

    /* || HERO *******/

    .main-header {
        height: 670px;
        background: linear-gradient(80.68deg, rgba(255, 255, 255, 0) 0.72%, #FFFFFF 99.57%), url("../img/wooshmail/wooshmail-cover.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
     }
 
     .wooshmail-title {
         font-size: 68px;
     }

     .main-title-container {
         width: 400px;
        float: right;
        margin-right: 70px;
        margin-top: 70px;
    }
}