* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}
a {
    text-decoration: none;
}
/* || HEADER  */

.banner {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    position: fixed;
}


body { 
    color: #717171;
    font: 500 100%/1.5 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
} 

h1 {
    color: #208CFA;
    font-family: 'Leckerli One', cursive;
}


h2,
h3 {
    color: #208CFA;
}


h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}


.main-header {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(100% 100% at 50% 0%, #F1F8FF 0%, #FFFFFF 0%, #FFFFFF 0.01%, rgba(242, 249, 255, 0) 9.38%, rgba(100, 181, 255, 0.77) 100%);
}

.wooshmail {
    padding-right: 6px;
    font-size: 42px;
    font-family: 'Leckerli One', cursive;
    background: linear-gradient(90deg, rgba(145, 202, 255, 0.83) 3.98%, #43A5FF 51.99%, #0063BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.rgb-bar {
    height: 15px;
    background: linear-gradient(90deg, #4EAAFF 0%, #D6EBFE 53.65%, #4EAAFF 100%);
}

.rgb-bar-bottom {
    height: 15px;
    background: linear-gradient(90deg, #ff0000 0%, #4dff00 50%, #007EFF 100%);

}


/* || MAIN SECTION  *************/

/* || overview  */


.container {
    width: 370px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    padding: 0 30px;
}

.overview {
    background: linear-gradient(180deg, #FFFFFF 1.18%, #e9f4ff 50.51%, #FFFFFF 100%);
}

p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.7;
    color: #0283E0;
}

.problems {
    /* background: linear-gradient(180deg, #0690E4 0%, #037bc5 32.29%, #01609b 53.65%, #01578d 78.65%, #FFFFFF 100%); */

    background: linear-gradient(180deg, #1662bf 0%,  #106dd0 32.29%,  #078ee1 53.65%, #0796ef 78.65%, #FFFFFF 100%);

}

.problems h1, 
.problems p{
    color: #F2F2F2;
}

.problems p {
    margin-bottom: 175px;
}


/* || target audience  */

.target-audience {
    background: linear-gradient(180deg, #FFFFFF 1.18%, #CEE8FF 52.51%, #FFFFFF 100%);
}

.audience-paragraph p {
    text-align: center;
    line-height: 2;
    margin-bottom: 50px;
}

.flex-col {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.personas img,
.storyboard img {
    height: 225px;
    width: 375px;
    margin-bottom: 50px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 5px 5px rgb(193, 193, 193);
}

.anaylysis-chart {
    width: 370px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.competitor {
    margin: 50px auto;
}

.competitor-pghs {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #FFFFFF 1.18%, #e9f4ff 50.51%, #FFFFFF 100%);
    border-radius: 8px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.competitor-pghs p {
    margin: 20px auto;
    text-align: left;
    padding: 0 15px;
}


.competitor-logo {
    width: 260px;
    height: 160px;
    border-radius: 15px;
    margin: 0 auto 30px;
}


.mailerlite-logo {
    width: 190px;
    height: 190px;
    border: 1px solid lightgray;
}


.wireframes-wrap {
    margin-top: 25px;
}


.sketches-wrap,
.wireframes-admin-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sketch {
    width: 360px;
    height: 240px;
    margin-bottom: 30px;
}

.sketch-header {
    font-family: 'Noto Sans', sans-serif;
}

.prototype-testing {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ie {
    width: 90%;
}

.prototype-testing p {
    width: 90%;
}

.mockups-container {
    margin-top: -50px;
}

.wireframes-admin-wrap {
    width: 100%;
}

.wireframes-admin-wrap img {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 5px 5px rgb(193, 193, 193);
}


.summary p {
    width: 100%;
    margin-bottom: 50px;
}


.view-next {
    margin: 0 auto;
}

.next {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 150px;
    text-align: center;
}

.center-logo {
    text-align: center;
}

.frog-pic {
    width: 100px;
    height: 100px;
    padding: 10px;
}


.shirts-txt {
    font-family: 'Baloo Chettan 2', cursive;
    margin-top: -15px;
    color: #00747B;
    font-size: 36px;
    padding: 8px;
}

.grocery-txt, 
.prime-txt {
    font-family: 'Fugaz One', cursive;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.grocery-txt {
    color: #31B004;
}
.prime-txt {
    color: #ff9727;
    margin-top: -18px;
}


footer p {
    text-align: center;
    padding: 1.4em 0;
    color: #acacac;
    margin: 0 auto;
    font-size: 15px;
    width: 85%;
}

/* || logo *******/

.logo {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px auto;
}

.square {
    width: 26px;
    height: 26px;
    background-color: #ED1010;
    border-radius: 3px;
}

.triangle {
	position: relative;
	background-color: #00ff11;
	text-align: left;
    margin-left: -3px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  15px;
	height: 15px;
	border-top-right-radius: 25%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
    margin-left: -5px;
}


.x {
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgb(220, 7, 220);
    margin: 0;
    margin-left: -9px;
    padding: 0;
}

.treehouse-link {
    color: #acacac;
}

.treehouse-link:hover {
    text-decoration: underline;
    color: #acacac;
}


/*=============================
    Media Query for 750px
=========================== */

@media (min-width: 750px) {

    html {
        font-size: 22px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }
    .wooshmail {
        font-size: 60px;
    }

    .container {
        width: 740px;
        padding: 0;
    }

    p {
        width: 80%;
    }

    .personas img,
    .storyboard img {
        height: 450px;
        width: 790px;
        margin-bottom: 75px;
    }

    .personas,
    .storyboard {
        margin-bottom: 50px;
    }


    .target-audience {
        padding-bottom: 20px;
    }


    .competitor {
        margin-bottom: 80px;
    }

    .competitor-pghs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    .competitor-logo {
        width: 300px;
        height: 200px;
    }

    .mailerlite-logo {
        width: 230px;
        height: 230px;
        border: 1px solid lightgray;
    }

    .wireframes-wrap {
        margin-top: 35px;
    }


    .competitor-pghs p {
        font-size: 20px;
        margin-right: 7px;
        margin-bottom: 40px;
    }

   
    .wireframes-admin-wrap {
        margin-top: 50px;
    }

    .prototype-testing {
        width: 740px;
    }

    .mockups-container {
        margin-top: 0px;
    }
  
    .summary p {
        margin-bottom: 75px;
    }

    .shirts-txt {
    font-size: 50px;
    margin-top: -25px
}

    .grocery-txt,
    .prime-txt {
        font-size: 2.1rem;
    }

    .prime-txt {
        margin-top: -21px;
    }

    .frog-pic {
        width: 120px;
        height: 120px;
    }




}


/*=============================
    Media Query for 1000px
=========================== */

@media (min-width: 1000px) {
    
    .container {
        width: 990px;
    }

    .competitor-pghs p {
        padding: 0 20px;
    }


    .sketches-wrap {
        flex-direction: row;
        justify-content: space-between;
    }

    .wireframes-admin-wrap {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    
    
    .sketch {
        width: 460px;
        height: 340px;
        margin-bottom: 50px;
    }

    .prototype-testing {
        width: 990px;
    }

    
    .next {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
    }



}